/* Import Elegant Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap');

.app-container{
  font-family: 'Poppins', sans-serif;
}
/* Ensure Full Width on All Devices */
.container-fluid {
  padding: 0;
  width: 100%;
  margin: 0; /* Remove any extra margins */
}

/* Navbar Styling */
.navbar {
  width: 100%;
  font-family: 'Playfair Display', serif; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navbar-brand img {
  max-width: 150px;
  height: auto;
}

.navbar-toggler {
  border: none;
}

/* Remove Extra Space on Mobile */
@media (max-width: 768px) {
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
  .nav-logo{
    width: 120px;
  }

  .navbar-nav {
    text-align: center;
  }

  /* Ensure Images and Cards Stretch Fully */
  .image-collection,
  .carousel-card,
  .carousel-image-container {
    width: 100% !important;
  }

  .carousel-image {
    width: 100%;
    object-fit: cover;
  }
  .admin-login{
    display: none !important;
  }
  
}
