.carousel-container {
  max-width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.carousel-card {
  width: 90%;
  max-width: 900px;
  border-radius: 16px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .carousel-card {
    width: 100%;
  }

  .carousel-image {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    max-height: 200px;
  }
} 
