.hero-container{
  margin-left: 40px;
}
.hero-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.hero-section p {
  color: #555;
  text-align: left;
}

.about-section h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

footer p {
  font-size: 14px;
  margin-top: 10px;
}

/* Image Collection */
.creative-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.creative-img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Remove extra padding/margins */
.image-collection {
  padding: 10px;
}

.prev-button{
  z-index: 1060;
}
.next-button{
  z-index: 1060;
}
.social-icons a {
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

/* Adjust card layout for responsiveness */
@media (max-width: 768px) {
  .creative-img {
    border-radius: 10px; /* Slightly smaller border radius on smaller screens */
  }
  .hero-container{
    margin-left:18px;
  }
 
}

@media (max-width: 576px) {
  .creative-img {
    width: 100%; /* Make sure the images take up full width on mobile */
  }
  
  .hero-container{
    margin-left: 10px;
  }
}

