body {
  font-family: 'Roboto', sans-serif; /* Changed font style */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section h1 {
  font-family: 'Lobster', cursive; /* Changed font style */
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.hero-section p {
  font-family: 'Open Sans', sans-serif; /* Changed font style */
  color: #555;
}

.about-section h3 {
  font-family: 'Merriweather', serif; /* Changed font style */
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.about-section p {
  font-family: 'Open Sans', sans-serif; /* Changed font style */
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

footer p {
  font-family: 'Roboto', sans-serif; /* Changed font style */
  font-size: 14px;
  margin-top: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5baac20d4f68fbf718f4f6f63ab48c5ce376054c
