/* Ensure cards are centered and responsive */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
  }
  
  /* Adjust image card width based on screen size */
  .image-card {
    max-width: 300px;
  }
  
  @media (max-width: 768px) {
    .image-card {
      max-width: 500px;
    }
  }
  
  /* Make modal background transparent */
  .modal-content {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    transform:scale(1.06);
  }
  
  /* Center modal content */
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent !important;
    text-align: center;
  }
  
  /* Image container for modal */
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  /* Ensure modal image fits within the screen */
  .modal-image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .modal-image {
      max-width: 95vw;
      max-height: 95vh;
    }
    .modal-content{
      transform: scale(1.03);
    }
    .prev-button, .next-button {
    display: none !important;
  }
  }
  
  /* Close button styles */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
  }
  
  
  